doctype 5
html
  head
    title kube-node-express
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', type='text/css', href='/stylesheets/kube.min.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/master.css')
    //if lt IE 9
      script(src='http://html5shiv.googlecode.com/svn/trunk/html5.js')