include includes/head
body
		.wrapper
			header#header
				h1 Logo
				nav#nav
					ul
						li
							span Home
						li
							a(href='http://imperavi.com/kube/') Link 1
						li
							a(href='#') Link 2
						li
							a(href='#') Link 3
						li
							a(href='#') Link 4
			#main
				h2 Hello and welcome!
				.row
					article.threequarter
						p
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							p
								| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							button.btn Lorem Ipsum
					aside.quarter
						.inner
							h6 Sidebar
							nav#navside
								ul
									li
										a(href='#') Link
									li
										a(href='#') Link
									li
										a(href='#') Link
									li
										a(href='#') Link
									li
										a(href='#') Link
			.row
				.half Half
				.half Half
			.row
				.third Third
				.third Third
				.third Third
			.row
				.quarter Quarter
				.quarter Quarter
				.quarter Quarter
				.quarter Quarter
			.row
				.twofifth Two Fifth
				.threefifth Three Fifth
			.row
				.fifth Fifth
				.threefifth Three Fifth
				.fifth Fifth
			.row
				.half.centered centered
			.row
				.twothird.push-third push-third
			footer#footer © Your copyright 2012
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js')
	script(src='/javascripts/main.js')
